.navbar{
  background-color: teal !important;
  color: #ffff;
}
.title{
  color: aliceblue;
  text-decoration: none;
}
.title:hover{
  color: aliceblue;
  text-decoration: none;
}
.nav-link{
  color: aliceblue !important;
  text-decoration: none !important;
}
.nav-link:hover{
  color: aliceblue;
  text-decoration: none;
}